.tab {
    -fx-background-color: transparent;
    -fx-text-fill: white !important;
}

.choice-box {
    -fx-pref-width: 150px;
}

.choice-box .context-menu {
    -fx-pref-width: inherit;
    -fx-min-width: inherit;
    -fx-max-width: inherit;
}

.choice-box .menu-item:hover {
    -fx-background-color: #8E9DE8;
    -fx-text-fill: white;
}

.choice-box .menu-item:focused {
    -fx-background-color: #8E9DE8;
    -fx-text-fill: white;
}

.tab:selected {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-effect: null;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
    -fx-background-color : #8E9DE8;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white !important;
}

.tab-header-background {
    -fx-background-color: #f4f4f4;
}